* {
    font-family: Arimo,'Exo 2','Times New Roman',sans-serif;
    box-sizing: border-box;
    transition: background-color 1s ease-in-out .1s;
    transition: color 1s ease-in .1s;
}

body,html {
    /* outline: red dashed 5px; */
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;

    /* flex stuff */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    background-color: #c5c5c5;
}

#calculator-body {
    /* outline: rgb(85, 85, 85) dashed 3px; */
    max-width: 370px;
    max-height: 730px;
    width: 100%;
    height: 100%;

    background-color: #FFFFFF;


    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: 30px;


}

#calculator-body:hover{
    box-shadow: 0 0 50px 50px #d6d6d6;
    transition: 300ms ease;

}

/* ----------Display ------- */

#display-container {
    /* outline: pink dashed 2px; */
    max-height: 250px;
    max-width: 100%;
    height: 100%;
    width: 100%;
    padding-bottom: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#previous{
    /* outline: green dashed 2px; */
    max-height: 70px;
    max-width: 85%;
    height: 100%;
    width: 100%;

    color: #637381;
    font-size: 1.1em;
    letter-spacing: 1px;


    display: flex;
    align-items: flex-end;
    justify-content: right;
    
}

#current{
    /* outline: gold dashed 2px; */
    max-height: 70px;
    max-width: 85%;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;

    color: #1E1E1E;
    font-size: 2.5em;
    font-weight: bold;
    letter-spacing: 1.5px;
    
    display: flex;
    align-items: flex-end;
    justify-content: right;
    overflow:hidden;
}



/* ----------Buttons ----------- */
#button-container {
    /* outline: blue dashed 2px; */
    max-height: 498px;
    max-width: 100%;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
    background-color: #F5F5F5;
    border-radius: 30px;
}

#row{
    /* outline: greenyellow dashed 2px; */
    max-height: 64px;
    max-width: 100%;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.button {
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;

    color: #1E1E1E;
    
    border-radius: 50%;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;


}

.button:hover {
    /* transform: scale(1.05) translateY(-3px); */
    box-shadow: 0 0 20px 0.5px #F11D83;
    font-weight: bold;
    transition: 100ms ease;

}

.button:active{
    transform: scale(0.95) translateY(3px);
    box-shadow: 0 0 0px 0px #919191;
    font-weight: bold;
    transition: 100ms ease;
}


.operator{
    background-color: #E9E9E9;
    font-size: 24px;
}

.digit,
.decimal{
    background-color: transparent;
    font-size: 24px;
}



#allclear,
#delete{
    font-size: 20px;
    background: -webkit-linear-gradient(#FB4C41, #F11D83);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    
}

#lights{
    font-size: 24px;
    font-weight: bold;
    background: -webkit-linear-gradient(#FB4C41, #F11D83);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

#enter{
    background: -webkit-linear-gradient(#FB4C41, #F11D83);
    font-size: 1.5em;
    /* font-weight: bold; */
    /* box-shadow: 0 0 20px 0.5px #F11D83; */
    color: #FFFFFF;
}

footer{
    /* outline: black dashed 2px; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: background-color 0s ease-in-out;
    transition: color 0s ease-in;


}

.fab {
    color: black;
}

.fab:hover{
    transition: 300ms ease;
    transform: scale(1.1) rotate(360deg);
}